body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-size: var(--font-size-base);
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg-color);
    width: 100%;
    height: 5.2rem;
    /* background-color: red; */
    
}

.main-header > div{
    /* background-color: red; */
    height: 100%;
}

.main-header .logo{
    width: 9.5rem;
}

.nav-links ul{
    font-weight: 200;
}

.nav-links a{
    font-weight: 200;
    padding: 5.6px 1.5rem;
}




    
    