body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-size: var(--font-size-base);
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg-color);
    width: 100%;
    height: 5.2rem;
    /* background-color: red; */
    
}

.main-header > div{
    /* background-color: red; */
    height: 100%;
}

.main-header .logo{
    width: 9.5rem;
}

.nav-links ul{
    font-weight: 200;
}

.nav-links a{
    font-weight: 200;
    padding: 5.6px 1.5rem;
}

.hero{
    padding-top: 15.12rem;
    padding-bottom: 6.7rem;
}

.hero-content{
    margin-bottom: 5.6rem;
}

.hero-title{
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.2;
    max-width: 52rem;
}

.hero-cta a{
    font-size: 1.6rem;
    padding: var(--btn-pd-md);
    border-radius: var(--border-radius-mx); 
}


.hero-img-container{
    width: 100%;
    height: min(780px, 70vh);
    min-height: 68rem;
    background-image: url("../assets/HeroBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius-xs);
}

.hero-img-container img{
    width: 102.4rem;
    height: 56rem
}


.trusted-by{
    
    padding-bottom: 10rem;
}


.trusted-by-logos{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 10rem;
    gap: 1rem;
    justify-items: center;
    /* background-color: red; */
    align-items: center;
}    

.trusted-by-container{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 0.7rem;
    border-radius: .4rem;
    background-color: #1B1913;
}

.trusted-by-container img{
    width: 100%;
    height: 4rem;
    object-fit: contain;
}

