.container{
    width: min(100% - 3rem, var(--container-width));
    margin-inline: auto;
}

.flow > * + * {
    margin-top: var(--flow-space, 2rem);
}

.flex{
    display: flex;
}

.gap-sm{
    gap: .5rem;
}

.gap-md{
    gap: 1rem;
}

.gap-lg{
    gap: 2rem;
}   

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.btn{
    border: 1px solid #373636;
    padding: .36rem 1.35rem .288rem;
    text-align: center;
}

.btn-secondary{
    border-radius: 2rem;
    font-size: 1.3rem;
}

.btn-primary{
    background-color: #fff;
    color: #14120b;
    border-radius: 2rem;
}