.container{
    width: min(100% - 3rem, var(--container-width));
    margin-inline: auto;
}

.mt-lg{
    margin-top: 10rem;
}

.font-lg{
    font-size: 1.6rem;
}

.flow > * + * {
    margin-top: var(--flow-space, 2rem);
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}


.gap-sm{
    gap: .5rem;
}

.gap-md{
    gap: 1rem;
}

.gap-lg{
    gap: 2.24rem;
}   

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: start;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.btn{
    border: 1px solid #373636;
    padding: var(--btn-pd-sm);
    text-align: center;
}

.btn-secondary{
    border-radius: var(--border-radius-md);
    font-size: 1.3rem;
}

.btn-primary{
    background-color: #fff;
    color: #14120b;
    border-radius: var(--border-radius-md);
}

.order-reverse{
    flex-direction: row-reverse;
    gap: 3.5rem;
}


.card{

    h3{
        font-size: var(--font-card1);
        color: var(--text-card1);
        line-height: 1.3;
    }

    p{
        font-size: var(--font-card1);
        color: var(--text-card2);
        line-height: 1.3;
    }

    a{
        font-size: 1.6rem;
        color: var(--text-secondary);
        display:inline-block;
        margin-top: 1.5rem;
        
    }
}   
