@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


:root {
    --font-main: 'CursorGothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --container-width: 130rem;
    --font-size-base: 1.4rem;

    --bg-color:#14120b;
    --text-primary: #EDECEC;




}