@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CursorGothic';
    src: url('../fonts/CursorGothic-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


:root {
    --font-main: 'CursorGothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --container-width: 130rem;
    --font-size-base: 1.4rem;

    --bg-color:#14120b;
    --text-primary: #EDECEC;
    --text-secondary:#f54e00;


    --btn-pd-sm:.36rem 1.35rem .288rem;
    --btn-pd-md:1.48rem 2.16rem 1.28rem;

    --border-radius-xs: .5rem;
    --border-radius-sm: 1.44rem;
    --border-radius-md: 2rem;
    --border-radius-mx: 100rem;
 
    --font-card1:2.2rem;
    --font-card2:1.4rem;

    --text-card1:#EDECEC;
    --text-card2:#8e8e8e;
}